body {
				background-color: black;
				text-align: center;
				margin: 0;
				padding: 0;
}

h1 {
				color: yellowgreen;
}

#marquee {
				color: red;
				font-size: 30px;
}

.re {
				color: whitesmoke;
				position: relative;
				font-size: 1em;
				text-align: center;
				background-color: black;
				z-index: 1;
}

button {
				background-color: transparent;
				color: white;
				
				border: none;
				border-radius: 8px;
				font-size: 16px;
				transition: background-color 0.3s;
				outline: none;
}
        
.responsive-div:focus {
				border: 3px solid #fff;
				border-radius:8px;
}

.responsive-div:hover {
				border: 3px solid #fff;
				border-radius:8px;
}

#imgv {				
				border-radius: 8px ;
				width: 160px;
				height: 210px;
				position: absolute;
      top: 0;
      left: 0;
}

#container {
				height: 475px;
				position: relative;
				top: 15px;
				overflow: auto;
}

#cari {
				border-radius: 8px;
				height: 25px;
				background: whitesmoke;
				margin: 0px;
				font-size: 20px;
}
#search {
				position: relative;
				padding: 0px;
}


.responsive-div {
            width: 150px;
            height: 200px;
            display: inline-block;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            padding: 5px 5px;
            margin: 10px;
            border: 3px solid red;
        }