body {
				background-color: black;
				margin: 0;
				padding: 0;
}
video::-webkit-media-controls-panel {
				position: relative;
				top: 16px;
}
video::-webkit-media-controls-fullscreen-button {
				opacity: 0;
}
video::-webkit-media-controls-mute-button {
				opacity: 0;
}
#myvideo {
				width: 100%;
				height: 540px;
				object-fit: fill;
}
#ggg {
				background: red;
				object-fit: fill;
				}
.tiv {
				position: relative;
				top: 10px;
				left: 12px;
				border-radius: 8px ;
				width: 110px;
				height: 35px;
				z-index: 1;
}
.time {
				margin: 0;
				padding: 0;
}
.date {
				margin: 0;
				padding: 0;
}
#clock {
				font-family: "Share Tech Mono", monospace;
				color: #ffffff;
				text-align: center;
				position: relative;
				z-index: 2;
				left: 50%;
				bottom: 18px;
				transform: translate(-50%, -50%);
				color: #daf6ff;
				text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.01em;
  font-size: 11px;
  padding: 2px 0;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 11px;
}
button {		
				border-radius: 13px ;				
				color: brown;
				background-color: transparent;
				font-size: 8px;
				border: 8px transparent solid;
				margin: 0px;
}
.controls {
				text-align: center;
				position: relative;
				left: 0px;
}
.vid1 {
				opacity: 0;
}
.vid3 {
				opacity: 1;
				width: 100%;
				height: auto;
				position: relative;
				bottom: 19px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
}
